.otherRecipes {
    border-radius: 10px;
    text-align: center;
    margin: 2rem;
    position: relative;
    width: 400px;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;
    align-items: center;
}
.otherRecipes a{
    margin-bottom: 30px;
}
div.img{
    width: 100%;
}