body {
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#3f2212
}

.basic {
    background: linear-gradient(rgba(250, 248, 248, 0.2), rgba(25, 167, 173, 0.2));
    background-size: cover;
    height: 85vh;
    position: relative;
    overflow: hidden;
}


#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

#site-content>section.basic {
    text-align: center;
}

.login form,
.register form,
.create form, .edit form {
    margin: 5rem auto;
}

.button {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    background: #3f2212;
    color: rgb(255, 255, 255);
    border: 1px solid  transparent;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    margin: 5px;
    transition:  all .3s ease-in-out;
}
.button:hover{
    background-color: antiquewhite;
    color: #3f2212;
    border: 1px solid  #3f2212;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #3f2212
}

/* li {
    list-style-type: none;
} */

.fa-heart {
    color: red;
}

.img {
    width: 15rem;
    position: relative;
    overflow: hidden;
    padding: 0rem;
}

/* img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
} */

.img::after {
    display: block;
    content: "";
    padding-top: 100%;
}

h3 {
    margin-bottom: 0;
    text-align: auto;
} 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  border-radius: 4px;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #faebd7 inset;
  transition: background-color 5000s ease-in-out 0s;
}